.matrix {
    display: inline-block;
    background: #eee;
    vertical-align: middle;
    position: relative;
    & table {
        display: inline-table;
        vertical-align: top;
        & td {
            background: white;
        }
    }
}

.rich-textarea {
    position: relative;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}
