main {
    display: block;
    z-index: 95;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    $top: 31px;
    & #menu {
        position: absolute;
        top: 0;
        left: 0;
        height: $top - 1px;
        border-bottom: 1px solid darkgray;
        background: white;
        right: 50vw;
        & button {
            padding: 15px;
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
            &,
            span {
                font-size: 15px;
            }
            background: transparent;
            border: none;
            color: gray;
        }
    }
    & #docs,
    & #notes {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    & #docs {
        top: $top;
        left: 0;
        padding: 0;
        margin: 0;
        right: 50vw;
        background: #eee;
        & img {
            display: none;
            object-fit: contain;
            max-width: calc(100% - 10px);
            max-height: calc(100% - 10px);
            width: auto;
            height: auto;
            &.visible {
                display: block;
            }
        }
        & #open {
            font-size: 25px;
            background: none;
            border: none;
            color: #f99758;
        }
        & #open,
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        & .controls {
            background: rgba(0, 0, 0, 0.85);
            color: white;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
            border-radius: 4px;
            & button {
                padding: 15px;
                &,
                span {
                    font-size: 20px;
                }
                background: transparent;
                border: none;
                color: white;
            }
        }
    }
    & #notes {
        right: 0;
        padding: 0;
        margin: 0;
        left: 50vw;
        background: #fcfcfc;
        & #tools {
            background: white;
            border-bottom: 1px solid lightgray;
            white-space: nowrap;
            height: 30px;
            border-left: 1px solid lightgray;
            & span {
                height: calc(30px - 10px);
                cursor: pointer;
                padding: 0;
                margin: 0;
                display: inline-block;
                vertical-align: top;
                border-right: 1px solid lightgray;
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        & .rich-textarea {
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 8px;
        }
    }
}