@import './start_menu/index.scss';
@import './main/index.scss';
body,
input,
textarea,
button {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

button {
    cursor: pointer;
}

.popup {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    overflow: auto;
}

.mask {
    background: rgba(0, 0, 0, 0.075);
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field {
    position: relative;
    margin: 16px 0;
    margin-top: 24px;
    padding: 4px;
    & .top {
        display: block;
        position: absolute;
        top: 10px;
        left: 2px;
        color: #6f6f6f;
        transition: 0.29s;
        transform-origin: left;
    }
    &.focus .top,
    &.notempty .top {
        position: absolute;
        top: 2px;
        transform: translateY(-75%) scale(0.75);
    }
    &.focus .top {
        color: #2474d1;
    }
    & input,
    & textarea,
    & select {
        position: relative;
        display: block;
        padding: 8px;
        padding-left: 2px;
        border: none;
        width: 100%;
        outline: none;
        background: transparent;
        font-family: 'Roboto', sans-serif;
    }
    & textarea {
        resize: vertical;
        height: 100px;
    }
    &::after,
    &::before {
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #cccccc;
    }
    &::after {
        background: #2474d1;
        transform: scaleX(0);
        transition: 0.29s;
    }
    &.focus::after {
        transform: scaleX(1);
    }
}
